/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
* {
	-fx-font-family: 'sans-serif';
}

#mainpane, #statisticpane {
	-fx-background-image: url('/../res/bg.jpg');
}

#status, #header {
	-fx-padding: 10px;
	-fx-border-width: 1 0 0 0; 
	-fx-border-color: black;
}

#header {
    -fx-background-color: linear-gradient(to top left, #000066, #000033);
}

#headline {
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tabpane {
    -fx-padding: 0 10 0 10;
}

#searchfilter {
    -fx-padding: 10px;
}

#searchfilter .formlabel {
    -fx-font-weight: bold;
    -fx-padding: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 5, 5);
}

#searchfilter .forminput {
    -fx-padding: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 5, 5);
}

#searchfilter .formimage {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 5, 5);
}

#searchfilter .formseparator {
}

#doclist {
    -fx-padding: 10px;
}

#btnGo {
    -fx-padding: 10px;
	-fx-background-color: linear-gradient(to top left, #000066, #000033);
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 5, 5);
}

#btnGo:hover {
	-fx-background-color: linear-gradient(to top left, #000033, #000066);
    -fx-text-fill: green;
	
}


#statisticpane ProgressBar {
	-fx-padding: 20 0 0 0;
}